.difficulty {
  min-width: 65px;
  margin-right: 10px;
}

.label.difficulty {
  padding-top: 0.6em;
  color: #fbfdfa;
  font-size: 12px;
  text-align: center
}

.title {
  font-size: 1.0em;
}

.diff-easy {
  background-size: 100p px;
  background-color: #42ebf4;
}

.diff-medium {
  background-size:80px 60px;
  background-color: #92cf5c;
}

.diff-hard {
  background-size:80px 60px;
  background-color: #dd0d1e;
}

.diff-super {
  background-size:80px 60px;
  background-color: #8d16e2;
}
